{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'members/myfirst.css' %}">
    <title>{% block title %}Club de Tenis ADSO{% endblock %}</title>
</head>
<body>

<header>
    <div class="nav-container">
        <a href="/" class="brand">CLUB TENIS ADSO</a>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/members">Miembros</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <section class="hero" id="inicio">
        <h1>Bienvenidos al Club de Tenis ADSO</h1>
        
        <img src="https://media.istockphoto.com/id/2033218434/es/foto/grupo-de-amigos-jugando-al-tenis-en-la-cancha.jpg?s=612x612&w=0&k=20&c=1XicNdrAol5bKIC7SlnHmmsCD67dhRm_GpFt3eHa7n0=" 
             alt="Tenis - Campo y raquetas">

        <p>Aquí encuentras la lista de los miembros destacados:</p>

        {% block content %}
        {% endblock %}
    </section>
</main>

<footer>
    <p>© 2024 Club ADSO - Todos los derechos reservados</p>
    <p>Sitio web desarrollado con Django</p>
</footer>

</body>
</html>